@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';
@import '~cxlt-vue2-toastr/dist/css/cxlt-vue2-toastr';

// body
$body-bg: #FFF;

// fonts
$font-size: 12px;
$font-family: 'Open Sans', sans-serif !important;

// colors
$font-black: #000000;
$font-white: #FFF;
$font-gray: #9B9B9B;

body {
  overflow-y: scroll;
  background: $body-bg;
  color: $font-black;
  font-family: $font-family;
}
